@page
@model AgendamientoCitas.App.Frontend.Pages.Doctores.IndexModel
@{
}

<form method="get" class="form-inline">
    <label class="my-1 mr-2" for="g">Doctor</label>
    <select class="custom-select my-1 mr-sm-2" id="g" name="g" asp-for="@Model.gActual">
        <option value="-1">Ver todos</option>
    </select>
    <button type="submit" class="btn btn-primary my-1">Filtrar</button>
</form>

<form method="get" class="form-inline">
    <label class="my-1 mr-2" for="b">Buscar</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="b" name="b" asp-for="@Model.bActual">
    <button type="submit" class="btn btn-secondary my-1">Buscar</button>
</form>

<h1>Listado Doctores</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo Doctor</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Genero</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model.doctores)
        {
           <tr>
               <td>@doctor.Nombre</td>
               <td>@doctor.Especialidad</td>            
               <td>@doctor.Genero</td>
               <td>
                   <a class="btn btn-primary" asp-page="./Details" asp-route-id="@doctor.Id">
                    Detalle
                   </a>
                   <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@doctor.Id">
                    Editar
                   </a>
               </td>
           </tr>   
        }
    </tbody>
</table>