@page
@model AgendamientoCitas.App.Frontend.Pages.Doctores.IndexModel
@{
}
<h1>Listado Doctores</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo Doctor</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Genero</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model.doctores)
        {
           <tr>
               <td>@doctor.Nombre</td>
               <td>@doctor.Especialidad</td>            
               <td>@doctor.Genero</td>
               <td>
                   <a class="btn btn-primary" asp-page="./Details" asp-route-id="@doctor.Id">
                    Detalle
                   </a>
                   <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@doctor.Id">
                    Editar
                   </a>
               </td>
           </tr>   
        }
    </tbody>
</table>