@page
@model AgendamientoCitas.App.Frontend.Pages.Citas.IndexModel
@{
}
<h1>Listado Citas</h1>
<a class="btn btn-primary" asp-page="./Create">Nueva Cita</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Hora</th>
            <th scope="col">Tipo de Servicio</th>
            <th scope="col">Consultorio</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cita in Model.citas)
        {
           <tr>
               <td>@cita.FechaHora</td>
               <td>@cita.TipoServicio</td>               
               <td>@cita.Consultorio</td>
               <td>
                   <a class="btn btn-primary" asp-page="./Details" asp-route-id="@cita.Id">
                    Detalle
                   </a>
                   <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@cita.Id">
                    Editar
                   </a>
               </td>
           </tr>   
        }
    </tbody>
</table>